<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content [ngSwitch]="game.name" [ngClass]="game.name" text-center padding>
  <h1 class="game__title">{{title}}</h1>

  <!-- Match -->
  <div *ngSwitchCase="'match'" [ngSwitch]="state">
    <div *ngSwitchCase="'lobby'">
      <div *ngIf="isHost">
        <button (click)="startGame()" ion-button large>Start Game</button>
      </div>
      <div *ngIf="!isHost">
        <p class="game__text">Waiting for the host to start the game...</p>
      </div>
    </div>
    <div *ngSwitchCase="'starting'">
      <div *ngIf="chosen">
        <h2 class="game__text animated tada delay-1s" margin-bottom>You've been chosen!</h2>
        <button (click)="goToUpload()" ion-button large>Upload</button>
      </div>
      <div *ngIf="!chosen">
        <p class="game__text">Starting the game...</p>
      </div>
    </div>
    <div *ngSwitchCase="'started'">
      <div *ngIf="!chosen">
      <h2 class="game__text">Go Find Them</h2>
        <button (click)="scanQR()" ion-button>Scan QR</button>
        <img [src]="matchLink" />
      </div>
      <div *ngIf="chosen">
        <h2 class="game__text">Once someone finds you, let them scan your QR</h2>
        <ngx-qrcode [qrc-value]="user.id.toString()"></ngx-qrcode>
        <img [src]="matchLink" />
      </div>
    </div>
    <div *ngSwitchCase="'ended'">
      <h2>Game Ended!</h2>
      <button (click)="leave()" ion-button>Leave</button>
    </div>
  </div>

  <!-- Hot -->
  <div *ngSwitchCase="'hot'" [ngSwitch]="state">
    <div *ngSwitchCase="'lobby'">
      <div *ngIf="isHost">
        <button (click)="startGame()" color="game-hot" ion-button large>Start Game</button>
      </div>
      <div *ngIf="!isHost">
        <p class="game__text">Waiting for the host to start the game...</p>
      </div>
    </div>
    <div *ngSwitchCase="'starting'">
      <p class="game__text">Starting...</p>
    </div>
    <div *ngSwitchCase="'started'">
      <div *ngIf="chosen">
        <h2 class="game__text">Get rid of that hot tot!</h2>
        <p class="game__text" margin-bottom>Shake your device to pass it to someone else</p>
        <img src="assets/imgs/hotTot.png" class="animated shake infinite hot-tot" />
      </div>
      <div *ngIf="!chosen">
        <h2 class="game__text">Watch out for that hot tot!</h2>
      </div>
    </div>
    <div *ngSwitchCase="'ended'">
      <h4 class="game__text"><b>{{hotLoser}}</b> couldn't shake that Hot Tot!</h4>
      <button (click)="leave()" color="game-hot" ion-button large>Leave</button>
    </div>
  </div>
</ion-content>
