<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="viewCtrl.dismiss()">Close</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="content">
    <div class="d-flex">
      <button (click)="takePhoto()" color="primary" class="w-50" ion-button large>Take Photo</button>
      <button (click)="getPhoto()" color="orange" class="w-50" ion-button large>Get Image</button>
    </div>
    <img *ngIf="dataUri" [src]="dataUri" width="100%" />
    <button *ngIf="dataUri" (click)="upload()" ion-button large full>Upload</button>
  </div>
</ion-content>
